.contact{
    background:#f8f9fa;
    text-align:center;
}

.contact-text{
    max-width:700px;
    margin:0 auto 30px;
    color:#666;
}

.contact-card{
    max-width:700px;
    margin:auto;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

.contact-item{
    display:flex;
    align-items:center;
    gap:20px;
    text-align:left;
    margin-bottom:25px;
    padding-bottom:20px;
    border-bottom:1px solid #eee;
}

.contact-item:last-of-type{
    border-bottom:none;
}

.icon{
    font-size:30px;
    min-width:40px;
}

.contact-item h3{
    color:#0b5ed7;
    margin-bottom:5px;
}

.contact-item a{
    color:#333;
    text-decoration:none;
}

.contact-item a:hover{
    color:#0b5ed7;
}

.map-btn{
    display:inline-block;
    margin-top:20px;
    padding:14px 30px;
    background:#0b5ed7;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.map-btn:hover{
    background:#084bb5;
}
